@font-face {
    font-family: "Inter";
    src: local("Inter"), url("Inter-Light.woff2") format("woff2"), url("Inter-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), url("Inter-Regular.woff2") format("woff2"), url("Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), url("Inter-Medium.woff2") format("woff2"), url("Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"), url("Inter-SemiBold.woff2") format("woff2"), url("Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("Montserrat-Light.woff2") format("woff2"), url("Montserrat-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("Montserrat-Regular.woff2") format("woff2"),
        url("Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("Montserrat-Medium.woff2") format("woff2"),
        url("Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("Montserrat-SemiBold.woff2") format("woff2"),
        url("Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
