<section class="advantages-section">
    <p class="advantages-section__heading heading1">Преимущества</p>
    <ul class="advantages-section__list">
        <li class="advantages-section__list-item">
            <img src="./src/images/svg/advantages-icon1.svg" alt="" class="advantages-section__list-item__icon">
            <div class="advantages-section__list-item__text">
                <p class="advantages-section__list-item__title">Честная цена</p>
                <p class="advantages-section__list-item__description">Наша цель - предоставить вам прозрачную
                    информацию о ценах и помочь вам сделать правильный выбор.
                </p>
            </div>
        </li>
        <li class="advantages-section__list-item delivery">
            <img src="./src/images/svg/advantages-icon2.svg" alt="" class="advantages-section__list-item__icon">
            <div class="advantages-section__list-item__text">
                <p class="advantages-section__list-item__title">Доставка</p>
                <p class="advantages-section__list-item__description">Мы рады предложить бесплатную доставку
                    металлопроката на ваш объект в любой день недели, включая выходные и праздничные дни.
                </p>
            </div>
        </li>
        <li class="advantages-section__list-item">
            <img src="./src/images/svg/advantages-icon1.svg" alt="" class="advantages-section__list-item__icon">
            <div class="advantages-section__list-item__text">
                <p class="advantages-section__list-item__title">Честная цена</p>
                <p class="advantages-section__list-item__description">Наша цель - предоставить вам прозрачную
                    информацию о ценах и помочь вам сделать правильный выбор.
                </p>
            </div>
        </li>
        <li class="advantages-section__list-item delivery">
            <img src="./src/images/svg/advantages-icon2.svg" alt="" class="advantages-section__list-item__icon">
            <div class="advantages-section__list-item__text">
                <p class="advantages-section__list-item__title">Доставка</p>
                <p class="advantages-section__list-item__description">Мы рады предложить бесплатную доставку
                    металлопроката на ваш объект в любой день недели, включая выходные и праздничные дни.
                </p>
            </div>
        </li>
    </ul>
</section>