<div class="popup choose-city">
    <div class="choose-city__body">
        <div class="choose-city__left">
            <ul class="choose-city__left-list">
                <li class="choose-city__left-list__item">
                    <button class="choose-city__left-list__item-btn" data-path="kz">
                        <img src="./src/images/svg/flag-kz.svg" alt="">
                        <span>Казахстан</span>
                    </button>

                </li>
                <li class="choose-city__left-list__item">
                    <button class="choose-city__left-list__item-btn" data-path="uz">
                        <img src="./src/images/svg/flag-uz.svg" alt="">
                        <span>Узбекистан</span>
                    </button>

                </li>
                <li class="choose-city__left-list__item">
                    <button class="choose-city__left-list__item-btn" data-path="ru">
                        <img src="./src/images/svg/flag-ru.svg" alt="">
                        <span>Россия</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="choose-city__right">
            <button class="choose-city__close">
                <img src="./src/images/svg/cross.svg" alt="">
            </button>
            <div class="choose-city__content">
                <p class="choose-city__right-heading">Выберите ваш город</p>
                <div class="choose-city__right-search">
                    <input type="text">
                    <img src="./src/images/svg/search.svg" alt="">
                </div>
                <ul class="choose-city__right-list active" data-target="kz">
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Алматы</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Актобе</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Астана</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>

                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Алматы</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Актобе</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Астана</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>

                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Алматы</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Актобе</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Астана</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>

                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Алматы</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Актобе</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Астана</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                    <li class="choose-city__right-list__item">
                        <button class="choose-city__right-list__item-btn">Атырау</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>