<section class="description">
    <button class="mobile description__btn">
        <span>Описание</span>
        <img src="./src/images/svg/chevron-down.svg" alt="">
    </button>
    <div class="description__content">
        <p class="description__heading heading2">Описание</p>
        <p class="description__text">При строительстве современного дома не обойтись без таких изделий металлопроката,
            как уголок, труба и,
            конечно же, арматура, которая как никто лучше усиливает прочностные характеристики. Под арматурой в обиходе
            чаще всего понимают рифленые пруты.
            Строительная арматура обеспечивает надежность, прочность и долговечность конструкций. Наиболее часто
            арматура используется для укрепления железобетонных элементов и представляет собой стальные пруты различного
            профиля и диаметра. Продается арматура чаще всего в виде связок прутов (стержней) длиной до 12 м, однако
            возможен вариант поставки бухтами (мотками) при диаметре менее 10 мм. </p>
        <p class="description__text">
            Поскольку большие нагрузки для арматуры – дело обычное, то при ее производстве используется определенный тип
            стали, часто называемый арматурным. В качестве материала изготовления данного вида металлопроката выступает
            низколегированная углеродистая сталь (до 0,25% C). Чаще всего на производстве используются следующие марки:
            35гс, а500с, ат800, а400, а400с. Характеристики используемой стали нормируются по ГОСТ 5781-82.
        </p>
    </div>
</section>