<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top-left">
                <p class="footer__top-left__heading heading1">Контакты</p>
                <div class="footer__top-left__links">
                    <a href="tel:+ 79225551234">
                        <img src="./src/images/svg/phone.svg" alt="">
                        <span>+ 7 922 555 1234</span>
                    </a>
                    <a href="mailto:hello@almaty.com">
                        <img src="./src/images/svg/mail.svg" alt="">
                        <span>hello@almaty.com</span>
                    </a>
                </div>
                <div class="footer__top-left__time">
                    <p>Режим работы</p>
                    <p>С 9.00 до 18.00</p>
                </div>
                <div class="footer__top-left__social">
                    <p class="footer__top-left__social-heading">Мессенджеры</p>
                    <ul class="footer__top-left__social-list">
                        <li class="footer__top-left__social-item">
                            <a href="#" class="footer__top-left__social-item-link">
                                <img src="./src/images/svg/telegram.svg" alt="">
                            </a>
                        </li>
                        <li class="footer__top-left__social-item">
                            <a href="#" class="footer__top-left__social-item-link">
                                <img src="./src/images/svg/whatsapp.svg" alt="">
                            </a>
                        </li>
                        <li class="footer__top-left__social-item">
                            <a href="#" class="footer__top-left__social-item-link">
                                <img src="./src/images/svg/insta.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__top-map">
                <div id="map"></div>
                <p class="footer__top-map__heading desktop">Адрес</p>
                <p class="footer__top-map__description desktop">г. Алматы, ул. Кунаева 21Б, офис 33</p>
            </div>

            <div class="footer__top-right">
                <p class="footer__top-right__heading">Подписаться на рассылку</p>
                <form action="#" class="footer__top-right__form">
                    <div class="footer__top-right__input-container">
                        <input type="email" placeholder="E-mail">
                        <svg width="31" height="29" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M26.9499 14.4093L22.7539 10.5L23.4695 9.83337L28.8362 14.8334L23.4695 19.8334L22.7539 19.1667L26.8483 15.3521L2.87256 15.3521V14.4093L26.9499 14.4093Z"
                                fill="white" />
                        </svg>
                    </div>
                    <label for="policy" class="footer__top-right__label">
                        <input type="checkbox" class="footer__top-right__label-input" id="policy">
                        <span class="footer__top-right__label-checkbox"></span>
                        <span class="footer__top-right__label-span">Даю согласие на обработку <a href="#">Персональных
                                данных</a></span>
                    </label>
                </form>
            </div>
        </div>

        <div class="footer__middle">
            <p class="footer__middle-heading heading1">Каталог</p>
            <ul class="footer__middle-list">
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Сортовой
                        прокат</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Метизы</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Качественные
                        стали</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Судовая
                        сталь</a></li>

                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Листовой
                        прокат</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Нержавеющая
                        сталь</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Цветные
                        металлы</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Метизовые
                        стали</a></li>

                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Трубы</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Инженерные
                        системы</a></li>
                <li class="footer__middle-list__item"><a href="#"
                        class="footer__middle-list__item-link">Электроинструменты</a></li>
            </ul>
        </div>
        <div class="footer__bottom">
            <p>Copyright &#169; 2023 Сталь Электро. Все права защищены. Сайт использует cookies.</p>
        </div>
    </div>
</footer>
@@include('./choose-city.html')
<script src="./src/js/swiper-bundle.min.js"></script>
<script src="./src/js/swipers.js"></script>
<script src="./src/js/main.js"></script>