<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top-left">
                <p class="footer__top-left__heading">Адрес</p>
                <p class="footer__top-left__address">г. Алматы, ул. Кунаева 21Б, офис 33</p>
                <div class="footer__top-left__link">
                    <a href="mailto:hello@almaty.com">hello@almaty.com</a>
                </div>
                <div class="footer__top-left__link">
                    <a href="tel:+79225551234">+ 7 922 555 1234</a>
                </div>
                <p class="footer__top-left__subheading">Режим работы</p>
                <p class="footer__top-left__text">С 9.00 до 18.00</p>
                <ul class="footer__top-left__social">
                    <li class="footer__top-left__social-item">
                        <a href="#" class="footer__top-left__social-item-link">
                            <img src="./src/images/svg/telegram.svg" alt="">
                        </a>
                    </li>
                    <li class="footer__top-left__social-item">
                        <a href="#" class="footer__top-left__social-item-link">
                            <img src="./src/images/svg/whatsapp.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__top-map">
                <div id="map"></div>
            </div>
            <div class="footer__top-right">
                <p class="footer__top-right__heading">Подписаться на рассылку</p>
                <form action="#" class="footer__top-right__form">
                    <div class="footer__top-right__input-container">
                        <input type="email" placeholder="E-mail">
                        <svg width="31" height="29" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M26.9499 14.4093L22.7539 10.5L23.4695 9.83337L28.8362 14.8334L23.4695 19.8334L22.7539 19.1667L26.8483 15.3521L2.87256 15.3521V14.4093L26.9499 14.4093Z"
                                fill="white" />
                        </svg>
                    </div>
                    <label for="policy" class="footer__top-right__label">
                        <input type="checkbox" class="footer__top-right__label-input" id="policy">
                        <span class="footer__top-right__label-checkbox"></span>
                        <span class="footer__top-right__label-span">Даю согласие на обработку <a href="#">Персональных
                                данных</a></span>
                    </label>
                </form>
            </div>
        </div>
        <div class="footer__middle">
            <p class="footer__middle-heading">Каталог</p>
            <ul class="footer__middle-list">
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>

                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>

                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>

                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
                <li class="footer__middle-list__item"><a href="#" class="footer__middle-list__item-link">Раздел</a></li>
            </ul>
        </div>
        <div class="footer__bottom">
            <p>Текст ....</p>
        </div>
    </div>
</footer>
<script src="./src/js/swiper-bundle.min.js"></script>
<script src="./src/js/swipers.js"></script>
<script src="./src/js/main.js"></script>