<div class="header__mobile mobile">
    <div class="header__mobile-body">
        <ul class="header__mobile-list">
            <li class="header__mobile-list__item">
                <button class="header__mobile-list__item-btn" data-path="catalog">
                    <span>Каталог</span>
                    <img src="./src/images/svg/chevron-right.svg" alt="">
                </button>
            </li>
            <li class="header__mobile-list__item">
                <button class="header__mobile-list__item-btn" data-path="">
                    <span>Клиентам</span>
                    <img src="./src/images/svg/chevron-right.svg" alt="">
                </button>
            </li>
            <li class="header__mobile-list__item">
                <button class="header__mobile-list__item-btn" data-path="">
                    <span>Клиентам</span>
                    <img src="./src/images/svg/chevron-right.svg" alt="">
                </button>
            </li>
        </ul>
    </div>
</div>