<section class="metalrolling">
    <p class="metalrolling__heading heading1">Металлопрокат в Алматы</p>
    <ul class="metalrolling__list">
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img1.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Металлопрокат</p>
            <p class="metalrolling__list-item__count">8500 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img2.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Металлургическое сырье</p>
            <p class="metalrolling__list-item__count">3000 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img3.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Полимеры</p>
            <p class="metalrolling__list-item__count">8500 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img4.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Системы трубопроводов</p>
            <p class="metalrolling__list-item__count">3000 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>

        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img1.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Металлопрокат</p>
            <p class="metalrolling__list-item__count">8500 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img2.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Металлургическое сырье</p>
            <p class="metalrolling__list-item__count">3000 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img3.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Полимеры</p>
            <p class="metalrolling__list-item__count">8500 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img4.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Системы трубопроводов</p>
            <p class="metalrolling__list-item__count">3000 товаров</p>
        </li>

        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img1.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Металлопрокат</p>
            <p class="metalrolling__list-item__count">8500 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img2.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Металлургическое сырье</p>
            <p class="metalrolling__list-item__count">3000 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img3.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Полимеры</p>
            <p class="metalrolling__list-item__count">8500 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img4.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Системы трубопроводов</p>
            <p class="metalrolling__list-item__count">3000 товаров</p>
            <a href="#" class="metalrolling__list-item__link"></a>
        </li>

        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img1.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Металлопрокат</p>
            <p class="metalrolling__list-item__count">8500 товаров</p>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img2.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Металлургическое сырье</p>
            <p class="metalrolling__list-item__count">3000 товаров</p>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img3.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Полимеры</p>
            <p class="metalrolling__list-item__count">8500 товаров</p>
        </li>
        <li class="metalrolling__list-item">
            <img src="./src/images/metalrolling-img4.png" alt="" class="metalrolling__list-item__img">
            <p class="metalrolling__list-item__title">Системы трубопроводов</p>
            <p class="metalrolling__list-item__count">3000 товаров</p>
        </li>
    </ul>
</section>