<section class="other-cities">
    <p class="other-cities__heading heading2">Другие города</p>
    <ul class="other-cities__list">
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link active region">Алматы</a>
        </li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Астана</a></li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Астана</a></li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Атырау</a></li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Актобе</a></li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Караганда</a>
        </li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Актобе</a></li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Караганда</a>
        </li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Атырау</a></li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Актобе</a></li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Караганда</a>
        </li>
        <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link region">Актобе</a></li>
    </ul>
</section>