<section class="other-cities">
    <div class="container">
        <p class="other-cities__heading heading2">Другие города</p>
        <ul class="other-cities__list">
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link active">Алматы</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Астана</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Астана</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Атырау</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Актобе</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Караганда</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Актобе</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Караганда</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Атырау</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Актобе</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Караганда</a></li>
            <li class="other-cities__list-item"><a href="#" class="other-cities__list-item__link">Актобе</a></li>
        </ul>
    </div>
</section>