<section class="qa-section">
    <p class="qa-section__heading heading1">Вопрос-ответ</p>
    <ul class="qa-section__list">
        <li class="qa-section__list-item">
            <div class="qa-section__list-item__head">
                <p>Как происходит доставка?</p>
                <img src="./src/images/svg/chevron-down2.svg" alt="">
            </div>
            <div class="qa-section__list-item__content">
                <p>
                    Профессионализм и опыт наших сотрудников, а также продуманные схемы перевозки сложных грузов
                    большого диаметра позволяют качественно осуществлять услуги по перевозке металлопроката.
                </p>
            </div>
        </li>
        <li class="qa-section__list-item">
            <div class="qa-section__list-item__head">
                <p>Вопрос 2</p>
                <img src="./src/images/svg/chevron-down2.svg" alt="">
            </div>
            <div class="qa-section__list-item__content">
                <p>
                    Профессионализм и опыт наших сотрудников, а также продуманные схемы перевозки сложных грузов
                    большого диаметра позволяют качественно осуществлять услуги по перевозке металлопроката.
                </p>
            </div>
        </li>
        <li class="qa-section__list-item">
            <div class="qa-section__list-item__head">
                <p>Вопрос 3</p>
                <img src="./src/images/svg/chevron-down2.svg" alt="">
            </div>
            <div class="qa-section__list-item__content">
                <p>
                    Профессионализм и опыт наших сотрудников, а также продуманные схемы перевозки сложных грузов
                    большого диаметра позволяют качественно осуществлять услуги по перевозке металлопроката.
                </p>
            </div>
        </li>
        <li class="qa-section__list-item">
            <div class="qa-section__list-item__head">
                <p>Вопрос 4</p>
                <img src="./src/images/svg/chevron-down2.svg" alt="">
            </div>
            <div class="qa-section__list-item__content">
                <p>
                    Профессионализм и опыт наших сотрудников, а также продуманные схемы перевозки сложных грузов
                    большого диаметра позволяют качественно осуществлять услуги по перевозке металлопроката.
                </p>
            </div>
        </li>
    </ul>
</section>