<section class="stages-section">
    <div class="container">
        <p class="stages-section__heading heading1">Этапы работы</p>
        <ul class="stages-section__list">
            <li class="stages-section__list-item">
                <p class="stages-section__list-item__number">1</p>
                <div class="stages-section__list-item__text">
                    <p class="stages-section__list-item__title">Выберите металл</p>
                    <p class="stages-section__list-item__description">Добавьте нужный товар в корзину</p>
                </div>
            </li>
            <li class="stages-section__list-item">
                <p class="stages-section__list-item__number">2</p>
                <div class="stages-section__list-item__text">
                    <p class="stages-section__list-item__title">Выберите металл</p>
                    <p class="stages-section__list-item__description">Добавьте нужный товар в корзину</p>
                </div>
            </li>
            <li class="stages-section__list-item">
                <p class="stages-section__list-item__number">3</p>
                <div class="stages-section__list-item__text">
                    <p class="stages-section__list-item__title">Выберите металл</p>
                    <p class="stages-section__list-item__description">Добавьте нужный товар в корзину</p>
                </div>
            </li>
        </ul>
    </div>
</section>