<section class="stages-section">
    <p class="stages-section__heading heading1">Этапы работы</p>
    <ul class="stages-section__list">
        <li class="stages-section__list-item">
            <p class="stages-section__list-item__number">1</p>
            <div class="stages-section__list-item__text">
                <p class="stages-section__list-item__title">Согласование заявки</p>
                <p class="stages-section__list-item__description">Ваш личным менеджер напишет вам в течении 15 минут
                    после отправки заявки</p>
            </div>
        </li>
        <li class="stages-section__list-item">
            <p class="stages-section__list-item__number">2</p>
            <div class="stages-section__list-item__text">
                <p class="stages-section__list-item__title">Сбор груза</p>
                <p class="stages-section__list-item__description">От 1 суток до 3 дней</p>
            </div>
        </li>
        <li class="stages-section__list-item">
            <p class="stages-section__list-item__number">3</p>
            <div class="stages-section__list-item__text">
                <p class="stages-section__list-item__title">Доставка</p>
                <p class="stages-section__list-item__description">Не более 5 дней</p>
            </div>
        </li>
    </ul>
</section>