$lightGray: #efefef;
$white: #ffffff;
$red: #c3252c;
$gray: #b7b7b7;
$black: #2c2a2c;

.breadcrumbs {
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 2.5rem;

            &::after {
                content: "/";
                position: absolute;
                top: 0;
                right: -1.5rem;
                font-weight: 400;
            }
        }

        &-link {
            padding: 0.2rem;
        }

        &-btn {
            padding: 0.2rem 0.4rem 0.2rem 0.7rem;
            display: flex;
            align-items: center;
            position: relative;
            transition-property: background-color, box-shadow;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                z-index: 3;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }

            img {
                width: 1.7rem;
                height: 1.7rem;
                object-fit: contain;
            }

            &:hover {
                background-color: $white;
                box-shadow: 1px 1px 0.6rem 0.2rem rgba(0, 0, 0, 0.2);

                span {
                    z-index: 4;
                }

                img {
                    z-index: 4;
                }

                &::after {
                    opacity: 1;
                }

                .breadcrumbs__item-dropdown {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &-dropdown {
            padding: 1rem 0.8rem 1rem 0.7rem;
            position: absolute;
            top: calc(100%);
            left: 0;
            width: 100%;
            background-color: $white;
            opacity: 0;
            visibility: hidden;
            box-shadow: 1px 1px 0.6rem 0.2rem rgba(0, 0, 0, 0.2);
            transition-property: opacity, visibility;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            z-index: 1;

            &__list {
                &-item {
                    &:not(:last-child) {
                        margin-bottom: 0.6rem;
                    }
                }
            }
        }
    }

    @media (max-width: 48em) {
        &__item {
            margin-bottom: 1rem;
            font-size: 2rem;
            line-height: 2.4rem;

            &:not(:last-child) {
                margin-right: 2.8rem;
            }
        }
    }
}

.heading1 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.8rem;
}

.heading2 {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.2rem;

    @media (max-width: 48em) {
        font-size: 4rem;
        line-height: 4.4rem;
    }
}

.tabs-container {
    @media (max-width: 48em) {
        overflow-x: scroll;
        margin-left: -2rem;
        width: 64rem;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

.tabs {
    display: flex;
    align-items: center;

    &__btn {
        padding: 1.1rem 1.5rem;
        min-width: 15.2rem;
        font-family: "Montserrat";
        font-size: 2rem;
        line-height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $white;
        border-radius: 3rem;
        transition-property: color, background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        span {
            transform: translateX(0.9rem);
            transition-property: transform;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
        }

        svg {
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            opacity: 0;
            visibility: hidden;
            transition-property: opacity, visibility;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &.active {
            background-color: $black;
            color: $white;

            span {
                transform: translateX(0);
            }

            svg {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @media (max-width: 48em) {
        padding-left: 2rem;
        padding-right: 2rem;
        width: max-content;

        &__btn {
            padding: 1.8rem 2.2rem 2rem 2.4rem;
            min-width: 12.4rem;
            font-size: 2.4rem;
            line-height: 3rem;
            border-radius: 6rem;

            &:not(:last-child) {
                margin-right: 0.8rem;
            }
        }
    }
}

.pagination {
    &__list {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            &:not(:last-child) {
                margin-right: 0.5rem;
            }

            &.dots {
                width: 2.5rem;
                height: 2.5rem;
                font-family: "Montserrat";
                font-size: 1.6rem;
                line-height: 2rem;
                text-align: center;
                color: #7a7a7a;
                border: 1px solid $gray;
            }

            &__btn-next {
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $gray;

                img {
                    width: 1.7rem;
                    height: 1.7rem;
                    object-fit: contain;
                }
            }

            &__btn {
                padding: 0.1rem 1rem;
                min-width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Montserrat";
                font-size: 1.6rem;
                line-height: 2rem;
                text-align: center;
                color: $gray;
                border: 1px solid $gray;
                transition-property: border-color, background-color, color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;

                &.active {
                    border-color: $gray;
                    background-color: $gray;
                    color: $black;
                }
            }
        }
    }

    @media (max-width: 48em) {
        &__list {
            &-item {
                &:not(:last-child) {
                    margin-right: 1rem;
                }

                &.dots {
                    width: 8rem;
                    height: 5rem;
                    font-size: 3.2rem;
                    line-height: 4rem;
                }

                &__btn {
                    padding: 0.6rem 2rem 0.4rem 2rem;
                    min-width: 8rem;
                    height: 5rem;
                    font-size: 3.2rem;
                    line-height: 4rem;
                }
            }
        }
    }
}

.red-btn {
    width: 25rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $red;
    background-color: $red;
    transition: background-color 0.2s ease-in-out;

    svg {
        margin-right: 0.8rem;
        width: 2.5rem;
        height: 2.4rem;

        path {
            transition: stroke 0.2s ease-in-out;
        }
    }

    span {
        font-family: "Montserrat";
        font-size: 2rem;
        line-height: 2.4rem;
        color: $white;
        transition: color 0.2s ease-in-out;
    }

    &:hover {
        background-color: $white;

        svg {
            path {
                stroke: $red;
            }
        }

        span {
            color: $red;
        }
    }

    @media (max-width: 48em) {
        width: 100%;
        height: 8rem;

        span {
            font-size: 3.2rem;
            line-height: 4rem;
        }
    }
}

.black-btn {
    color: $white;
    text-align: center;
    font-family: "Montserrat";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    background-color: $black;
    border: 1px solid $black;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    span {
        transition: color 0.2s ease-in-out;
    }

    svg {
        path {
            transition: stroke 0.2s ease-in-out;
        }
    }

    &:hover {
        background-color: $white;
        color: $black;

        span {
            color: $black;
        }

        svg {
            path {
                stroke: $black;
            }
        }
    }

    @media (max-width: 48em) {
        font-size: 4rem;
        line-height: 4.8rem;
    }
}

.swiper-controllers {
    .prev,
    .next {
        position: absolute;
        top: 20rem;
        width: 6.4rem;
        height: 6.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
        filter: drop-shadow(0px 0px 1.6rem rgba(0, 0, 0, 0.078));
        z-index: 2;
        transition-property: opacity, visibility;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        &.swiper-button-disabled {
            opacity: 0;
            visibility: hidden;
        }

        svg {
            width: 1.3rem;
            height: 2.2rem;
            object-fit: contain;
        }
    }

    .prev {
        left: 0;
        transform: translateX(-50%);
    }

    .next {
        right: 0;
        transform: translateX(50%);
    }
}

.region {
    padding: 1.1rem;
    min-width: 15.2rem;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    background-color: $gray;
    border: 1px solid $gray;
    border-radius: 3rem;
    transition-property: background-color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
        background-color: $white;
        border-color: $black;
    }

    &.active {
        background-color: $white;
        border-color: $black;
    }

    @media (max-width: 48em) {
        padding: 2.8rem;
        min-width: 17.2rem;
        height: 9.2rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
        border-radius: 6rem;
    }
}
