.header {
    margin-top: 2.5rem;
    margin-bottom: 6rem;
    font-family: "Montserrat";
    font-size: 1.6rem;
    line-height: 2rem;

    .container {
        display: flex;
        height: 5.2rem;
        border-top: 1px solid #b7b7b7;
        border-bottom: 1px solid #b7b7b7;
    }

    &__logo {
        width: 19.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #b7b7b7;

        img {
            width: 11.8rem;
            height: 3.2rem;
            object-fit: contain;
        }
    }

    &__catalog {
        width: 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #b7b7b7;

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                margin-right: 0.3rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
            }
        }

        &-popup {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-100%);
            transition-property: opacity, visibility, transform;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }

            &__step1 {
                padding: 4.5rem 2.4rem 4.5rem 4.6rem;
                width: 32.2rem;
                height: 100%;
                background-color: $white;
                position: relative;

                &-top {
                    margin-bottom: 1rem;
                    padding-bottom: 0.65rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid $gray;

                    p {
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: $black;
                    }

                    button {
                        svg {
                            width: 1.3rem;
                            height: 1.4rem;
                            object-fit: contain;
                        }
                    }
                }

                &-search {
                    margin-bottom: 1.4rem;
                    position: relative;

                    input {
                        padding: 0.4rem 3.3rem 0.4rem 1rem;
                        width: 100%;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: $black;
                        border: 1px solid #7a7a7a;
                        border-radius: 0.5rem;
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        right: 0.7rem;
                        width: 1.9rem;
                        height: 1.9rem;
                        object-fit: contain;
                        transform: translateY(-50%);
                    }
                }

                &-list {
                    &-item {
                        padding: 0.6rem 0.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: $black;
                        border-top: 1px solid $gray;
                        transition: background-color 0.2s ease-in-out;
                        cursor: pointer;

                        img {
                            width: 1.8rem;
                            height: 1.8rem;
                        }

                        &:first-child {
                            border-top: none;
                        }

                        &:last-child {
                            border-bottom: 1px solid $gray;
                        }

                        &:hover {
                            background-color: #e8e8e8;

                            & > div {
                                transform: translateX(0);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &__step2 {
                padding: 12.2rem 1.5rem 1.5rem 0.1rem;
                position: absolute;
                top: 0;
                left: 100%;
                height: 100%;
                width: 26.8rem;
                background-color: $white;
                opacity: 0;
                visibility: hidden;
                transform: translateX(-100%);
                transition-property: transform, opacity, visibility;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                z-index: -1;

                &-list {
                    &-item {
                        padding: 0.6rem 0.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: $black;
                        border-top: 1px solid $gray;
                        transition: background-color 0.2s ease-in-out;
                        cursor: pointer;

                        img {
                            width: 1.8rem;
                            height: 1.8rem;
                        }

                        &:first-child {
                            border-top: none;
                        }

                        &:last-child {
                            border-bottom: 1px solid $gray;
                        }

                        &:hover {
                            background-color: #e8e8e8;

                            & > div {
                                transform: translateX(0);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &__step3 {
                padding: 12.2rem 1.5rem 1.5rem 0.1rem;
                position: absolute;
                top: 0;
                left: 100%;
                height: 100%;
                width: 26.8rem;
                background-color: $white;
                opacity: 0;
                visibility: hidden;
                transform: translateX(-100%);
                transition-property: transform, opacity, visibility;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                z-index: -1;

                &-list {
                    &-item {
                        padding: 0.6rem 0.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: $black;
                        border-top: 1px solid $gray;
                        transition: background-color 0.2s ease-in-out;
                        cursor: pointer;

                        img {
                            width: 1.8rem;
                            height: 1.8rem;
                        }

                        &:first-child {
                            border-top: none;
                        }

                        &:last-child {
                            border-bottom: 1px solid $gray;
                        }

                        &:hover {
                            background-color: #e8e8e8;

                            & > div {
                                transform: translateX(0);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &__step4 {
                padding: 12.2rem 1.5rem 1.5rem 0.1rem;
                position: absolute;
                top: 0;
                left: 100%;
                height: 100%;
                width: 26.8rem;
                background-color: $white;
                opacity: 0;
                visibility: hidden;
                transform: translateX(-100%);
                transition-property: transform, opacity, visibility;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                z-index: -1;

                &-list {
                    &-item {
                        padding: 0.6rem 0.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: $black;
                        border-top: 1px solid $gray;
                        transition: background-color 0.2s ease-in-out;
                        cursor: pointer;

                        img {
                            width: 1.8rem;
                            height: 1.8rem;
                        }

                        &:first-child {
                            border-top: none;
                        }

                        &:last-child {
                            border-bottom: 1px solid $gray;
                        }

                        &:hover {
                            background-color: #e8e8e8;
                            & > div {
                                transform: translateX(0);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &__step5 {
                padding: 12.2rem 1.5rem 1.5rem 0.1rem;
                position: absolute;
                top: 0;
                left: 100%;
                height: 100%;
                width: 26.8rem;
                background-color: $white;
                opacity: 0;
                visibility: hidden;
                transform: translateX(-100%);
                transition-property: transform, opacity, visibility;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                z-index: -1;

                &-list {
                    &-item {
                        padding: 0.6rem 0.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: $black;
                        border-top: 1px solid $gray;
                        transition: background-color 0.2s ease-in-out;
                        cursor: pointer;

                        img {
                            width: 1.8rem;
                            height: 1.8rem;
                        }

                        &:first-child {
                            border-top: none;
                        }

                        &:last-child {
                            border-bottom: 1px solid $gray;
                        }

                        &:hover {
                            background-color: #e8e8e8;

                            & > div {
                                transform: translateX(0);
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }

            &__step6 {
                padding: 12.2rem 1.5rem 1.5rem 0.1rem;
                position: absolute;
                top: 0;
                left: 100%;
                height: 100%;
                width: 26.8rem;
                background-color: $white;
                opacity: 0;
                visibility: hidden;
                transform: translateX(-100%);
                transition-property: transform, opacity, visibility;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                z-index: -1;

                &-list {
                    &-item {
                        padding: 0.6rem 0.1rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: $black;
                        border-top: 1px solid $gray;
                        transition: background-color 0.2s ease-in-out;
                        cursor: pointer;

                        img {
                            width: 1.8rem;
                            height: 1.8rem;
                        }

                        &:first-child {
                            border-top: none;
                        }

                        &:last-child {
                            border-bottom: 1px solid $gray;
                        }

                        &:hover {
                            background-color: #e8e8e8;

                            & > div {
                                transform: translateX(0);
                            }
                        }
                    }
                }
            }
        }
    }

    &__clients {
        width: 14rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #b7b7b7;
        transition-property: background-color, box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $white;
            z-index: 3;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &:hover {
            background-color: $white;
            box-shadow: 1px 1px 0.6rem 0.2rem rgba(0, 0, 0, 0.2);

            &::after {
                opacity: 1;
            }

            .header__clients-dropdown {
                opacity: 1;
                visibility: visible;
            }
        }

        p {
            margin-right: 0.3rem;
            z-index: 4;
        }

        img {
            width: 1.7rem;
            height: 1.7rem;
            object-fit: contain;
            z-index: 4;
        }

        &-dropdown {
            padding: 1rem 1.7rem 2.4rem 1.7rem;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: $white;
            transition-property: opacity, visibility;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            z-index: 2;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                box-shadow: 1px 1px 0.6rem 0.2rem rgba(0, 0, 0, 0.2);
                z-index: -1;
            }

            &__list {
                &-item {
                    &:not(:last-child) {
                        margin-bottom: 0.6rem;
                    }

                    a {
                        font-family: "Montserrat";
                        font-size: 1.6rem;
                        line-height: 2rem;
                        color: #000000;
                    }
                }
            }
        }
    }

    &__search {
        padding-left: 2.3rem;
        flex: auto;
        display: flex;
        align-items: center;
        border-right: 1px solid #b7b7b7;

        &-btn {
            margin-right: 3.2rem;
            svg {
                width: 2.1rem;
                height: 2.1rem;
                object-fit: contain;
            }
        }

        &-form {
            transform: scaleX(0);
        }
    }

    &__shopping-cart {
        width: 7.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #b7b7b7;

        img {
            width: 2.9rem;
            height: 2.9rem;
            object-fit: contain;
        }
    }

    &__contacts {
        width: 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #b7b7b7;

        p {
            margin-right: 0.1rem;
        }

        img {
            width: 1.7rem;
            height: 1.7rem;
            object-fit: contain;
        }
    }

    &__location {
        width: 13.7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &-btn {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }
}
