.metalrolling {
    &__heading {
        margin-bottom: 6.3rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            width: 20rem;
            height: 15.7rem;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &:not(:nth-last-child(-n + 4)) {
                margin-bottom: 3rem;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__title {
                position: absolute;
                top: 7.8rem;
                left: 0.8rem;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.2rem;
                text-transform: uppercase;
            }

            &__count {
                position: absolute;
                bottom: 0.8rem;
                left: 0.8rem;
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: #7a7a7a;
            }

            &__link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (max-width: 48em) {
        &__list {
            margin-bottom: 4rem;
            flex-wrap: nowrap;
            justify-content: flex-start;
            flex-direction: column;

            &-item {
                width: 100%;
                height: 18rem;

                &:not(:last-child) {
                    margin-bottom: 4.2rem;
                }

                &__title {
                    top: 4.2rem;
                    left: 1.4rem;
                    font-size: 3.2rem;
                    line-height: 4.4rem;
                }

                &__count {
                    bottom: auto;
                    left: 1.4rem;
                    top: 10.6rem;
                    font-size: 2.8rem;
                    line-height: 3.6rem;
                }
            }
        }

        &__showmore {
            padding: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Montserrat";
            font-size: 3.2rem;
            line-height: 4rem;
            text-align: center;
            color: #000000;
            border: 0.2rem solid $gray;

            span {
                margin-right: 2.6rem;
            }

            img {
                width: 3.4rem;
                height: 3.4rem;
                object-fit: contain;
            }
        }
    }
}
