.other-cities {
    margin-top: 12rem;

    &__heading {
        margin-bottom: 3rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        &-item {
            margin-bottom: 2.6rem;

            &:not(:nth-child(7n)) {
                margin-right: 2rem;
            }
        }
    }

    @media (max-width: 48em) {
        &__heading {
            margin-bottom: 4rem;
        }

        &__list {
            &-item {
                margin-bottom: 1.4rem;
                margin-right: 3.4rem;
            }
        }
    }
}
