.products-section {
    padding-top: 12rem;

    &__heading {
        margin-bottom: 3rem;
        font-weight: 500;
        font-size: 3.5rem;
        line-height: 4.2rem;
    }

    @media (max-width: 48em) {
        &__heading {
            margin-bottom: 6rem;
            font-size: 4rem;
            line-height: 4.8rem;
        }
    }
}

.product-swiper__container {
    position: relative;

    @media (max-width: 48em) {
        margin-left: -2rem;
        width: 64rem;
    }
}

.product-swiper {
    &__slide {
        width: 36rem;
        position: relative;

        &-img {
            margin-bottom: 2rem;
            width: 100%;
            height: 46rem;
            object-fit: cover;
        }

        &-name {
            margin-bottom: 2rem;
            display: inline-block;
            font-size: 1.8rem;
            line-height: 2.3rem;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &-price {
            font-weight: 500;
            font-size: 2.5rem;
            line-height: 3.2rem;
        }
    }

    @media (max-width: 48em) {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 64rem;

        &__slide {
            width: 30.6rem;

            &-img {
                margin-bottom: 4rem;
                height: 39.2rem;
            }

            &-name {
                margin-bottom: 2.6rem;
                font-size: 2.8rem;
                line-height: 3.6rem;
            }

            &-price {
                font-size: 2.8rem;
                line-height: 3.6rem;
            }

            &-bottom {
                display: flex;
                align-items: center;
            }

            &-btn {
                margin-left: 3rem;
                width: 7.4rem;
                height: 5.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $red;

                svg {
                    width: 3.6rem;
                    height: 3.8rem;
                }
            }
        }
    }
}
